<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>

        <section class="body__main__productCard--container">
            <div class="swiper mySwiper3">
                <div class="swiper-wrapper-allEvents">
                    <div class="swiper-slide-allEvents">
                    <% products.forEach(product => { %>
                            <div class="div__card--allEvents">
                                <img src="/images/products/<%= product.image %>" alt="">
                                <p class="div__card--title"><%= product.name %></p>
                                <p><%= moment(product.date).format('YYYY-MM-DD') %></p>
                                <p><%= product.location %></p>
                                <a href="/products/productDetail/<%= product.id %>">
                                    <button class="div__card--cercaDeTi-button">comprar</button>
                                </a>
                            </div>
                            
                            <% }) %>
                        </div>
                 
            </div>
        </section>

    </main>
    <%- include('partials/footer') %>

</body>
</html>