<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body class="body__main">
        
        <%- include('partials/header') %>

        <main>
            <!-- carrousel mobile-tablet Swiper --->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    
                    <% products.forEach(product => { %>
                     <div class="swiper-slide"><img src="/images/<%= product.image %>" alt=""></div>
                    <% }) %>
                    
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="logo__container">
                <a href="/"><img class="body__main--logo" src="/images/logo.png" alt="logo"></a>
            </div>

            <form class="body__main__form" action="/search" method="GET">
                <div class="body__main__containerSearch">
                    <div class="body__main__containerSearchBar">
                        <i class="fas fa-search"></i>
                        <input class="body__main__containerSearch--searchbar" type="text" name="keywords" id="busqueda"
                            placeholder="Buscá artista o evento">
                    </div>
                    <div class="select">
                        <i class="fa-solid fa-caret-down"></i>
                        <select class="select__options" aria-label="Default select example" name="category" id="category">
                            <option value="" selected hidden>Seleccione una categoria</option>
                            <% categories.forEach(category => { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                        <% }) %>
                      </select>
                    </div>
                </div>
            </form>

            <div class="body__main__div--admin">
                <a class="body__main__div--admin-button" href="/products/productList">Admin</a>
            </div>

            <!-- carrousel desktop -->
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <% products.forEach(product => { %>
                        <div class="swiper-slide">
                        <img src="/images/<%= product.image %>" />
                        </div>
                    
                       <% }) %>
                    
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div>

            <section class="body__main--sliderlEventos">
                <h2>Eventos destacados</h2>
                <div class="swiper mySwiper3">
                    <div class="swiper-wrapper">
                        <% products.forEach(product => { %>
                            <div class="swiper-slide">
                                <div class="div__card--cercaDeTi">
                                    <img class="div__card--cercaDeTi-img" src="/images/<%= product.image %>" alt="">
                                    <p class="div__card--title"><%= product.name %></p>
                                    <p><%= product.date %></p>
                                    <p><%= product.location %></p>
                                    <a href="/products/productDetail/<%= product.id %>">
                                        <button class="div__card--cercaDeTi-button">comprar</button>
                                    </a>
                                </div>
                            </div>
                        
                        <% }) %>
                        
                       
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <a href="">Ver todo</a>
            </section>

            <div class="body__main--sections">

                <aside class="body__main--pickup">
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="">Conocé los puntos de retiro</a>
                </aside>

                <div class="body__main--sections-actYevents">
                    <section class="body__main--actividades">
                        <p class="body__main--actividades-title">Actividades gratuitas</p>
                        <p class="actividades-description">Descubrí las opciones disponibles en esta sección</p>

                        <button class="body__main--actividades-button">Explorar</button>
                    </section>

                    <section class="body__main--proxEvento">
                        <div class="div__card--proxEvento">
                            <p>Próximo evento</p>
                            <img src="/images/evento4.jpg" alt="">
                            <div class="div__card--proxEvento-description">
                                <p class="div__card--proxEvento-title">Nombre</p>
                                <p>día 00 mes</p>
                                <p>Lugar</p>
                                <button class="div__card--proxEvento-description-button">Ver en calendario</button>
                            </div>
                        </div>

                </div>
                </section>

            </div>

        </main>

        <%- include('partials/footer') %>

        <%- include('partials/scripts') %>
    </body>

</html>