<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/stylesheets/productDetail.css" />
  <%- include('partials/head', {title: 'Resultado de búsqueda'}) %>
  <body>
    <%- include('partials/header') %> <% if (results.length) { %> <%
    results.forEach(product => { %>
    <main class="productdetail_main">
      <div class="detail--container">
        <div class="detail-card">
          <img
            class="detail-img"
            src="/images/products/<%= product.image %>"
            alt=""
          />
          <div class="productdetail_main-description">
            <div class="productdetail_main-description-item">
              <a href="">Precio: </a>
              <h4>
                $<%= product.price %> + $<%= product.serviceCharge %> (Cargo de
                servicio)
              </h4>
            </div>

            <div class="productdetail_main-description-item">
              <a href="">Fecha: </a>
              <h4><%= moment(product.date).format('DD-MM-YYYY') %></h4>
            </div>
            <div class="productdetail_main-description-item">
              <a href="">Lugar: </a>
              <h4>
                <%= product.description %>, <%= product.address %>. <%=
                product.location %>
              </h4>
            </div>
            <div class="productdetail_main-description-item-link">
              <a
                href="<%= generateGoogleMapsLink(product.description, product.address, product.location) %>"
                >¿Cómo llego?</a
              >
            </div>
          </div>
          <a href="/products/productCart" class="detail-card-button">
            Agregar al carrito
          </a>
        </div>
      </div>
    </main>
    <% }) %> <% } else { %>
    <div class="col-12">
      <h2 class="search-products-title">
        No se encontraron resultados para esta búsqueda
      </h2>
    </div>
    <% } %>
    <script src="/js/searchProducts.js"></script>
    <script src="/js/googleMapsLink.js"></script>
    <%- include('partials/footer') %>
  </body>
</html>
