<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/searchResults.css">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <div class="col-12">
        <h2 class="search-results-title">Resultados de la búsqueda: <p class="search-results-keywords"><%= keywords %></p> </h2>
    </div>

    <% if (results.length) { %>
        <% results.forEach(product => { %>
            <div class="search_card-results">
                <img class="search_card-results-img" src="/images/<%= product.image %>" alt="">
                <p class="div__card--title"><%= product.name %></p>
                <p><%= product.date %></p>
                <p><%= product.location %></p>
                <a href="/products/productDetail/<%= product.id %>">
                    <button class="search_card-results-button">comprar</button>
                </a>
            </div>
        <% }) %>
    <% } else { %>
        <div class="col-12">
            <h2 class="search-products-title">No se encontraron resultados para esta búsqueda</h2>
        </div>
    <% } %>
    
    <%- include('partials/footer') %>
</body>
</html>