<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>


<body class="register">
    <div class="register_conteiner">
        <header class="register_header">
            <a href="/"><img src="/images/logo.png" alt="POST"></a> 
            <h1>Edición de perfil</h1>
        </header>
        <form class="register_form" action="/users/profile?_method=PUT" method="POST">
            <div class="register_form-inputs">
                <input type="text" name="userName" placeholder="Name" value="<%= name %>" >
                <input type="email" name="email" placeholder="Email" value="<%= email %>" >
                <input type="password" name="password" placeholder="Password" value="<%= password %>" >
                <input type="password" name="password2" placeholder="Repeat password" value="<%= password %>" >
            </div>
            <div class="register_form-buttons">
                <button class="register_form-buttons-register" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</body>
</html>