<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>


<body class="register">
    <div class="register_conteiner">
        <header class="register_header">
            <a href="/"><img src="/images/logo.png" alt="POST"></a> 
        </header>
        <form class="register_form" action="" method="POST">
            <div class="register_form-inputs">
                <input  type="text" name="userName" placeholder="Nombre de usuario" value="<%= locals.old && old.userName? old.userName: null; %>">
                <% if (locals.errors && errors.userName) { %>
                    <small><%= errors.userName.msg %> </small>
                <% } %>        
                <input type="email" name="email" placeholder="Email" value="<%= locals.old && old.email ? old.email: null ;%>">
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %> </small>
                <% } %>   
                <input type="password" name="password" placeholder="Contraseña">
                <% if (locals.errors && errors.password) { %>
                    <small><%= errors.password.msg %> </small>
                <% } %>   
                <input type="password" name="password2" placeholder="Reingresar contraseña">
                <% if (locals.errors && errors.password2) { %>
                    <small><%= errors.password2.msg %> </small>
                <% } %>   

            </div>
            <div class="register_form-buttons">
                <button class="register_form-buttons-register" type="submit">Registrarse</button>
                <a href="/users/login" class="register_form-buttons-singIn"><p>Ingresar</p></a>
            </div>
        </form>
    </div>
</body>
</html>